name: CI/CD MLflow

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install mlflow==2.19.0
        pip install scikit-learn pandas

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . -P data_path=smart_home_processed.csv --env-manager=local

    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls -td MLProject/mlruns/0/*/ | head -n 1 | cut -d'/' -f4)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m "file://$GITHUB_WORKSPACE/MLProject/mlruns/0/$RUN_ID/artifacts/model" \
          -n smart-home-model

    - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Tag & Push Docker Image
      run: |
        docker tag smart-home-model ${{ secrets.DOCKER_HUB_USERNAME }}/smart-home-model:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/smart-home-model:latest
